{
  "compilerOptions": {
    "target": "ES2022",
    "module": "NodeNext",
    "moduleResolution": "NodeNext",
    "strict": true,
    "noEmit": true,
    "skipLibCheck": true,

    "baseUrl": ".",
    "typeRoots": ["./types", "~/AppData/Roaming/npm/node_modules/@types"],
    // 为了抑制编辑器内类型报错
    "paths": {
      "@mariozechner/pi-coding-agent": [
        "?/npm/node_modules/@mariozechner/pi-coding-agent"
      ],
      "@mariozechner/pi-tui": [
        "?/npm/node_modules/@mariozechner/pi-tui"
      ],
      "@sinclair/typebox": ["?/npm/node_modules/@sinclair/typebox"]
    },
  },
  "include": ["./**/*.ts", "./types/**/*.d.ts"],
}
